<div id = "event_bar">
    <div id = "event_bar_top">
        <p class = event_tab id = 'marker_tab' onclick="change_tab('marker')">Markers</p>
        <p class = event_tab id = 'event_tab' onclick="change_tab('event')">Events</p>
        <p class = event_tab id = 'series_tab'  onclick="change_tab('series')">Series</p>
    </div>

    <div id = inset_bar>
        <div id = markers_tab class = event_bar_inset style="display: none;" ></div>
        <div id = events_tab class = event_bar_inset style="display: block;" ></div>
        <div id = seriess_tab class = event_bar_inset style="display: none;"></div>
    </div>
</div>