<template id = "event_box_template">
    <div class = "event_box">
        <div class = "event_box_title"></div>
        <div class = "event_box_date"></div>
        <div class = "event_box_summary"></div>
    </div>
</template>