<template id = "friend_tab_template">
    <div class = "user_tools_user_box">
        <div class = "friend_tab_username"></div>
        <div class = "friend_tab_status"></div>
        <div class = "friend_tab_online"></div>
    </div>
</template>