<meta charset="UTF-8">
<title>Time Travelers Map</title>

<link rel="stylesheet" type="text/css" href="../../styles/universal.css">
<link rel="stylesheet" type="text/css" href="../../styles/slider_styles.css">
<script src="../../scripts/ejs.js"></script>
<script src="../../scripts/slider_scripts.js"></script>
<script src="../../scripts/universal_scripts.js"></script>
<script src="../../scripts/index_scripts.js"></script>
<script src="../../scripts/queries/map_queries.js"></script>
<script src="../../scripts/queries/event_queries.js"></script>
<script src="../../scripts/queries/series_queries.js"></script>
<script src="../../scripts/queries/user_queries.js"></script>

