<meta charset="UTF-8">
<title>Time Travelers Map</title>

<link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.1.3/css/ol.css">
<link rel="stylesheet" type="text/css" href="../../styles/map_styles.css">
<link rel="stylesheet" type="text/css" href="../../styles/universal.css">
<link rel="stylesheet" type="text/css" href="../../styles/slider_styles.css">
<link rel="stylesheet" type="text/css" href="../../styles/user_tool_styles.css">


<script src="../../scripts/ejs.js"></script>
<script src="../../scripts/main/account_scripts.js"></script>
<script src="../../scripts/main/slider_scripts_passive.js"></script>
<script src="../../scripts/main/slider_scripts_active.js"></script>
<script src="../../scripts/main/universal_scripts.js"></script>
<script src="../../scripts/main/index_scripts.js"></script>
<script src="../../scripts/main/user_tools.js"></script>

<script src="../../scripts/queries/map_queries.js"></script>
<script src="../../scripts/queries/event_queries.js"></script>
<script src="../../scripts/queries/series_queries.js"></script>
<script src="../../scripts/queries/user_queries.js"></script>
<script src="../../scripts/queries/relation_queries.js"></script>

<script src="../../scripts/utility/cookie_scripts.js"></script>
<script src="../../scripts/utility/utility_scripts.js"></script>
<script src="../../scripts/utility/index_utility_scripts.js"></script>

<script src="../../scripts/verification/account_verification.js"></script>

<link rel="stylesheet" type="text/css" href="../../styles/leaflet.css">
<script src="../../scripts/map/leaflet.js"></script>

