<div id = "map_wrapper">
    <div id = "index_left_container">
        <div id = "map_container">
            <%- include('../partials/map'); %>
        </div>
        <%- include('../partials/slider');%>
    </div>
    <%- include('../partials/event_box');%>
</div>