<nav class ="nav_default">
    <div id = "header">
        <div id = "map_nav_box">
            <div class = "nav_button">
                <p><a href = "/">Home</a></p>
            </div>

            <div class = "nav_button" onclick="get_events()">
                <p> Testing Events</p>
            </div>

            <div class = "nav_button" onclick="update_slider(500, 3000)">
                <p>Update Slider</p>
            </div>

            <div class = "nav_button" onclick="create_map()">
                <p>Create Map</p>
            </div>

            <div class = "nav_button" onclick="user_logout()">
                <p>Log out</p>
            </div>

            <div class = "nav_button" onclick="create_series()">
                <p>Create Series</p>
            </div>

            <div class = "nav_button" onclick="get_maps_in_series(5)">
                <p>Get Maps In Series</p>
            </div>

            <div class = "nav_button" onclick="load_seriess()">
                <p>Select a series</p>
            </div>


            <div id = "profile_drop_div" class = "nav_button" >
                <p id = "profile_drop" class = "drop_button" onclick="display_dropdown(this.id)">Profile</p>
                <div id = "profile_drop_down" class = "drop" style = "display: none;">
                    <p><a href="/profile" class = "drop_option">My Profile</a></p>
                    <p><a href="/about" class = "drop_option">About</a></p>
                    <p class = "drop_option" onclick="user_logout()">Logout</p>
                </div>
            </div>
        </div>

    </div>
</nav>