<div id = "map_wrapper">
    <div id = "index_left_container">
        <div id = "map_container">

        </div>

        <div id = "slider_container" onclick="slider_select(event)">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">

            <div id = "slider_output">
            </div>
        </div>

    </div>
    <div id = "event_bar">
        <div id = "event_bar_top">
            <h1>World Events</h1>
        </div>
    </div>
</div>