<nav class ="nav_default">
    <div id = "header">
        <div id = "map_nav_box">
            <div class = "nav_button">
                <p><a href = "/">Home</a></p>
            </div>

        </div>
    </div>
    <div id = "profile_bar">
        <div class = "nav_button" id = "login" onclick="draw_login_box()">
            <p>Login</p>
        </div>
        <div class = "nav_button" id = "new_account">
            <p><a href = "/new_account">Create Account</a></p>
        </div>
        <div id = "login">

        </div>
    </div>
</nav>