<nav class ="nav_default">
    <div id = "header">
        <div id = "map_nav_box">
            <div class = "nav_button">
                <p><a href = "/">Home</a></p>
            </div>

            <div class = "nav_button" >
                <p onclick="generate_world_event()">Testing</p>
            </div>

            <div class = "nav_button">
                <p>New Map</p>
            </div>
        </div>
    </div>
    <div id = "profile_bar">
        <div class = "nav_button" id = "profile">
                <p><a href = "/profile">Profile</a></p>
        </div>
        <div id = "login">

        </div>
    </div>
</nav>