<div id = "map_wrapper">
    <div id = "index_left_container">
        <div id = "map_container">
            <%- include('../partials/map'); %>
        </div>
        <%- include('../partials/slider');%>
        <div id = "max_up" onclick = max_timeline() class = "max_up" style="display: none"></div>
    </div>
    <%- include('../partials/event_bar');%>
</div>