<template id = login_box_template>
    <div id = "login_box" class = "user_box">
        <div class = "close" onclick = "min_user_box('login_box')"></div>
        <input id = "login_username" class="input_box" value="Username">
        <div id = "login_username_image"></div>
        <div id = "login_need_account">
            <a></a>
        </div>
        <input id = "login_password" class = "input_box" value = "Password" type = "password">
        <div id = "login_password_image"></div>
        <p id = "login_CB_text">Keep me Logged in:</p>
        <input id= "login_checkbox" type = "checkbox">
        <button id = "login_select_button" class = "input_button" onclick="login_verification()">Login</button>
        <div id = "login_bottom_box" >
            <p>Forgot your password?<a onclick = "gen_alert_box('Psst.. I dont work')">  Press here</a></p>
        </div>
    </div>
</template>