<div id = "login_box">
    <div id = "login_cross" class="close" onclick = "min_login_box()"></div>
    <input id = "login_username" value="Username">
    <div id = "login_username_image">

    </div>
    <div id = "login_need_account">
        <a>Need an account?</a>
    </div>

    <input id = "login_password" value="Password" type="password">
    <div id = "login_password_image">
    </div>
    <p id = "login_CB_text">Keep me logged in</p>
    <input id = "login_checkbox" type="checkbox"> </input>

    <button id = "login_select_button" onclick = "login_verification()">Login</button>

    <div id = "login_bottom_box">
        <p>Forgot your password? <a>Press here.</a></p>
    </div>
</div>