<div id="map_test"></div>
<script src="../../scripts/map/main.js"></script>
<script src="../../scripts/map/map_drawing.js"></script>
<script src="../../scripts/map/map_movement.js"></script>
<script src="../../scripts/map/leaflet_queries.js"></script>


