<template id = "marker_box_template">
    <div id ="marker_box">
        <div id = "marker_box_drag">
            <div id = "marker_box_close"></div>
        </div>

        <div id = "marker_box_info">

        </div>
        <div id = "marker_box_options">
            <div id = "marker_box_title">
            </div>
            <div id = "marker_box_longlat">
                <div id = "marker_box_lat"></div>
                <div id = "marker_box_long"></div>
            </div>

        </div>
    </div>
</template>