<div id = "timeline" >
    <div id = "timeline_top">
        <div id = op_box>
            <output id="slider_output" class = "slider_outputs" ></output>
        </div>
    </div>

    <div id = "map_slider_cont">
        <div id = "map_block_holder">
        </div>

        <div id = "slider_container">
            <input type="range" min="-3000" max="2019" value="50" class="slider" id="timeline_range" oninput="slider_change()" onchange = "slider_select()">

            <div id = "series_start_year" class = "series_year">-3000</div>
            <div id = "series_min_down" class = series_year onclick="min_timeline();"></div>
            <div id = "series_end_year" class = "series_year">2019</div>
        </div>
    </div>
</div>