<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- EJS general head properties call -->
        <%- include('../partials/head'); %>
        <!-- Page specific style sheets / scripts -->
    </head>

    <body>
        <!-- EJS header call -->
        <%- include('../partials/logged_in_header'); %>
        <h1> Profile Page </h1>
    </body>
</html>