<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- EJS general head properties call -->
        <%- include('../partials/head'); %>
        <!-- Page specific style sheets / scripts -->
        <%- include('../../scripts/scripts.ejs'); %>
    </head>

    <body>

    </body>
</html>