*{
    margin: 0;
    padding :0;
    font-family: Helvetica;
}

*:visited{
    text-decoration: none;
    font-weight: bold;
    color: dodgerblue;
}

a:hover{
    color: black;
}

a {
    text-decoration: none;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: dodgerblue;
}


#wrapper{
    height: 95vh;
    width: 100%;
    background-color: darkgray;
}

#header {
    display: inline-block;
    width : 80%;
    height: 50px;
    background-color: white;
}

.nav_button {
    width: auto;
    height: 12px;
    padding : 10px 10px 10px;
    margin: 10px 0 0 10px;
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    font-size: 15px;
    font-family: Helvetica;
    font-weight: bold;
    color: dodgerblue;
}

.nav_button:hover {
    color: black;
}

.nav_button p {

}


#profile_drop_div {
    float: right;
    margin-right: 3%;
}
#profile_bar{
    height: 50px;
    width: 20%;
    float: right;
    background-color: white;
}

#profile_drop_down {
    display: block;
    position: absolute;
    height: auto;
    top:50px;
    right: 20%;
    padding-top: 20px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop_option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}